---
layout: default
title: Contact
---

<h2>Join us!</h2>

<p>
Want to join RAS? The best way to get started is to come to one of our biweekly <a href="{{ site.baseurl }}/calendar.html">general meetings</a>, which are open to the public, and talk to a RAS officer afterward.
</p>
<h4>Office</h4>
<p>
We live in <a href="https://maps.utexas.edu/buildings/utm/eer">EER</a> 0.822A; feel free to stop by.
</p>
<h4>Slack</h4>
<p>
Most of our internal communication happens here. You can sign up for Slack at <a href="https://utras19.slack.com">utras19.slack.com</a> with
your @utexas.edu email addess.
</p>
<h4>Facebook</h4>
<p>
To keep up with current events and happenings, please join our group <a href="https://www.facebook.com/groups/ut.ieee.ras/">here</a>.
</p>
<p>
You might also sign up for our mailing list <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0UKq4EjFoPRdjCAsLtgMJrhi7_t5xMwmH4glW8-Jhbch8IA/viewform?c=0&w=1">here</a> for occasional announcements - mostly meeting reminders, honestly.
</p>

<h2>Fall 2018 Officers</h2>

{% for leader in site.data.contact.leaders %}
{% assign index = forloop.index0 | modulo: 4 %}
{% if index == 0 %}
<div class="card-deck">
{% endif %}
    <div class="card m-3">
        <img class="card-img-top" src="{{ site.baseurl }}/resources/contact/{{ leader.picture }}" alt="picture of {{ leader.name }}">
        <div class="card-body">
        <h5 class="card-title">{{ leader.name }}</h5>
        <p class="card-text">{{ leader.title }}</p>
        <p class="card-text text-truncate" id="{{ leader.title }}">{{ leader.email_name }}{{ leader.email_obsfucator }}{{ leader.email_domain }}</p>
        <script>document.getElementById('{{ leader.title }}').innerHTML=
            "<a href=\"mailto:{{ leader.email_name }}".concat("@{{ leader.email_domain }}\">{{ leader.email_name }}").concat(
            "<br/>@{{ leader.email_domain }}</a>");
                if("{{ leader.email_name }}"=="no_email"){var element = document.getElementById('{{ leader.title }}');
                element.parentNode.removeChild(element);}</script>
    </div></div>
{% if index == 3 %}
</div>
{% endif %}
{% endfor %}
