---
layout: default
title: Contact
---

<style>
    .section {
        margin-bottom: 20px; /* Adjust the margin value as needed */
    }
</style>

<h2> <strong> Spring 2024 RAS Officers </strong> </h2>

<div class="section"> <!-- Added class to create space -->
{% for leader in site.data.people.officers %}
{% assign index = forloop.index0 | modulo: 5 %}
{% if index == 0 %}
    <div class="card-deck">
{% endif %}
    <div class="card m-3">
        <img class="card-img-top" src="{{ site.baseurl }}/resources/contact/{{ leader.picture }}" alt="picture of {{ leader.name }}">
        <div class="card-body">
        <h5 class="card-title">{{ leader.name }}</h5>
        <p class="card-text">{{ leader.title }}</p>
        <p class="card-text text-truncate" id="{{ leader.title }}">{{ leader.email_name }}{{ leader.email_obsfucator }}{{ leader.email_domain }}</p>
        <script>document.getElementById('{{ leader.title }}').innerHTML=
            "<a href=\"mailto:{{ leader.email_name }}".concat("@{{ leader.email_domain }}\">{{ leader.email_name }}").concat(
            "<br/>@{{ leader.email_domain }}</a>");
                if("{{ leader.email_name }}"=="no_email"){var element = document.getElementById('{{ leader.title }}');
                element.parentNode.removeChild(element);}</script>
    </div></div>
{% if index == 4 %}
    </div>
{% endif %}
{% endfor %}
</div> <!-- End of officer section -->

<h2> <strong> Spring 2024 RAS Leaders </strong> </h2>

<div class="section"> <!-- Added class to create space -->
{% for leader in site.data.people.leaders %}
{% assign index = forloop.index0 | modulo: 5 %}
{% if index == 0 %}
    <div class="card-deck">
{% endif %}
    <div class="card m-3">
        <img class="card-img-top" src="{{ site.baseurl }}/resources/contact/{{ leader.picture }}" alt="picture of {{ leader.name }}">
        <div class="card-body">
        <h5 class="card-title">{{ leader.name }}</h5>
        <p class="card-text">{{ leader.title }}</p>
        <p class="card-text text-truncate" id="{{ leader.title }}">{{ leader.email_name }}{{ leader.email_obsfucator }}{{ leader.email_domain }}</p>
        <script>document.getElementById('{{ leader.title }}').innerHTML=
            "<a href=\"mailto:{{ leader.email_name }}".concat("@{{ leader.email_domain }}\">{{ leader.email_name }}").concat(
            "<br/>@{{ leader.email_domain }}</a>");
                if("{{ leader.email_name }}"=="no_email"){var element = document.getElementById('{{ leader.title }}');
                element.parentNode.removeChild(element);}</script>
    </div></div>
{% if index == 4 %}
    </div>
{% endif %}
{% endfor %}
</div> <!-- End of leader section -->

