html,body {
	background-color: #fbfbfb;
}

.button, button {
	border-color:#000;
	background-color:#333;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #666;
}

button:hover, button:focus, .button:hover, .button:focus {
    color: white;
}


a {color:#333;}
a:hover {
	color:#ccc;
}

.contact a {
	font-size: .75em;
}
li.active .button, li.active button { 
	color:#666;
	background-color:#f0f0f0;
}

.contactName {
    position: relative;
    padding: 0;
    width:100%;
    display:block;
}
.text {
	font-size: .85em;
    position: absolute;
    top: 0;
    color:#ffffff;
    background-color:rgba(102,102,102,0.8);
    width: 100%;
    height: 100%;
    line-height:100px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.text:hover {
    opacity:1;
}

img {
    z-index:1;
}

.icon-comments, .icon-group, .icon-heart {
	color:#cc5500;
}

.homeOpt {
	text-align: center;
}
ul { overflow:hidden; list-style-type:none } //clear internal float and remove bullet
li a img { display: inline;}

.title {
	font-weight:bold;
	color:#cc5500;
}

.orbit-slides-container img {width:100%;}

.bodyLink {
    color:#c50;
    /*text-decoration: underline;*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    color:#333;
}

body, a, p, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    margin-top:5px;
}