<div class="alert alert-dark">
    Welcome to a new semester! Our first Corporate Meeting is Tuesday, <a class="alert-link" href="{{ site.baseurl }}/calendar.html">9/10/19</a>, at <a class="alert-link" href="https://www.google.com/maps/place/Engineering+Education+and+Research+Center+(EER)/@30.2882421,-97.7374998,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b59b2584cfb7:0xfc70be33186e5baa!8m2!3d30.2882421!4d-97.7353111">EER 1.518</a>, with <a class="alert-link" href="https://www.bellflight.com/">Bell</a>.
</div>
