<div class="alert alert-dark">
    Our next meeting is a GM with <a href="https://sites.utexas.edu/hcrl/author/sl22845/">Professor</a> <a href="https://apptronik.com/ptype_team/dr-luis-sentis/">Luis Sentis</a>. It will be on 10/22/19, 7-8 PM at WAG101. <b>Food will be provided.</b>
    <br>
    Robotathon: The next checkpoint is the Blinky LED demo due by <b>MONDAY, 10/21</b>. See the rules <a class="alert-link" href="https://ras.ece.utexas.edu/about/robotathon.html">HERE</a> for all the checkpoint deadlines.
</div>
