<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <ul class="inline-list left">
          <li><a href="docs/RASByLaws-2013.pdf">ByLaws</a></li>
          <li><a href="docs/RASConstitution.pdf">Constitution</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="https://www.facebook.com/groups/ut.ieee.ras/">Facebook</a></li>
          <li><a href="http://utexasras.wordpress.com/">Blog</a></li>
          <li><a href="https://twitter.com/UT_RAS">Twitter</a></li>
          <li><a href="http://www.youtube.com/user/utRASvideos">YouTube</a></li>
          <li><a href="http://www.flickr.com/photos/58210439@N03/sets/">Flickr</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>

<script>
document.write('<script src=js/vendor/' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
<script src="foundation/zepto.js"></script>
<script src="foundation/foundation.min.js"></script>
<script> $(document).foundation(); </script>
