<hr/>
<div class="row">
    <div class="col">
        <ul class="list-inline text-left">
            <li class="list-inline-item"><a class="footer" href="https://docs.google.com/document/d/1CPQ64ccO5s_kQe_hD1xD1I1x8feFod2-di75nxIFW7I/edit?usp=sharing">Constitution & Bylaws</a></li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-inline text-right">
            <li class="list-inline-item"><a class="footer" href="{{ site.baseurl }}/blog.html">Blog</a></li>
            <li class="list-inline-item"><a class="footer" href="https://github.com/ut-ras">GitHub</a></li>
            <li class="list-inline-item"><a class="footer" href="https://www.flickr.com/photos/58210439@N03/sets/">Flickr</a></li>
            <li class="list-inline-item"><a class="footer" href="https://www.youtube.com/@ut_ieee_ras">YouTube</a></li>
            <li class="list-inline-item"><a class="footer" href="https://www.facebook.com/groups/ut.ieee.ras/">Facebook</a></li>
            <li class="list-inline-item"><a class="footer" href="https://twitter.com/UT_RAS">Twitter</a></li>
            <li class="list-inline-item"><a class="footer" href="https://www.instagram.com/ut_ieee_ras/">Instagram</a></li>
        </ul>
    </div>
</div>
