<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <ul class="inline-list left">
          <li><a href="https://docs.google.com/document/d/1qU7ir_SHajRIfKJA2TJZAjjEtF_8yAWG0QqIbDLr_O8/edit">ByLaws</a></li>
          <li><a href="https://docs.google.com/document/d/12c6PHbEoipcUAN820OaMYyG0G6OSwMRSQLN9Kf4aBPg/edit">Constitution</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="https://github.com/ut-ras/">GitHub</a></li>
          <li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
          <li><a href="http://www.flickr.com/photos/58210439@N03/sets/">Flickr</a></li>
          <li><a href="https://www.facebook.com/groups/ut.ieee.ras/">Facebook</a></li>
          <li><a href="http://www.youtube.com/user/utRASvideos">YouTube</a></li>
          <li><a href="https://twitter.com/UT_RAS">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>

<script>
document.write('<script src=deps/foundation/' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
<script src="deps/foundation/zepto.js"></script>
<script src="deps/foundation/foundation.min.js"></script>
<script> $(document).foundation(); </script>
