<nav class="navbar navbar-expand-lg navbar-light" >
    <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><img class="logo" src="{{ site.baseurl }}/resources/meta/logo.png" height="50" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-auto mb-0" id="navbar-content">
        <ul class="nav navbar-nav ml-auto">
        <li><a class="nav-item nav-link" href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a class="nav-item nav-link" href="{{ site.baseurl }}/calendar.html">Calendar</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="{{ site.baseurl }}/about.html">About</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ site.baseurl }}/about.html">Everything</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ site.baseurl }}/committees/robotathon.html">Robotathon</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/committees/curm.html">CURM</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/committees/igvc.html">IGVC</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/committees/region5.html">Region 5</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/committees/pacbot.html">Pacbot</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/committees/demobots.html">Demobots</a>
            </div>
        </li>
        <li><a class="nav-item nav-link" href="{{ site.baseurl }}/contact.html">Contact</a></li>
        <li><a class="nav-item nav-link" href="{{ site.baseurl }}/media.html">Media</a></li>
        <li><a class="nav-item nav-link" href="{{ site.baseurl }}/supporters.html">Supporters</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="{{ site.baseurl }}/blog.html">Blog</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ site.baseurl }}/blog.html">Everything</a>
                <div class="dropdown-divider"></div>
                {% for post in site.posts %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} ({{ post.date | date_to_string }})</a>
                {% endfor %}
            </div>
        </li>
        </ul>
    </div>
</nav>
<hr/ class="mt-0">
