<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width">

  <title>IEEE RAS - {{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/deps/foundation/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/deps/foundation/foundation.css">

  <script src="{{ site.baseurl }}/deps/foundation/custom.modernizr.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/static/style.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/deps/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" type="text/css">

</head>
