<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width">

  <title>IEEE RAS - {{ page.title }}</title>

  <link rel="stylesheet" href="foundation/normalize.css">
  <link rel="stylesheet" href="foundation/foundation.css">

  <script src="foundation/custom.modernizr.js"></script>
  <style type="text/css"></style>
  <style type="text/css"></style>

  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" type="text/css">

</head>
