<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/meta/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/meta/libraries/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/meta/libraries/open_sans.css">
    <title>UT IEEE RAS - {{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/resources/meta/ieee_favicon.ico">
</head>
