@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

::selection{ background-color: #D14; color: white; }
::moz-selection{ background-color: #D14; color: white; }
::webkit-selection{ background-color: #D14; color: white; }

/*------General------*/
body{
	margin:0;
	font: 13px/1.7em 'Open Sans';
	background: #333333;
}

.foot {
 padding-bottom:15px
}

a{
	color: white;
}

a:hover{
	color: #CF5300;
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 32px;
	line-height: 32px;
	font-weight: 300;
}

h2 {
	font-size: 20px;
	line-height: 20px;
	font-weight:300;
}

h3 {
	font-size: 15px;
	line-height: 15px;
}

h4 {
	font-size: 14px;
	line-height: 14px;
}

h5 {
	font-size: 13px;
	line-height: 13px;
}

h6 {
	font-size: 12px;
	line-height: 12px;
}

hr{
	border-top: 1px solid #C6C6C6;
}

.no-padding{
	margin: 0;
	padding: 0;
}

/*------Header------*/
#header{
	background: #333;
	display:block;
	color: white;
	height: 42px;
	width:100%;
	border-bottom:1px solid #4E4E53;
	opacity:.66;
}

#header h1{
	font-size:22px;
	padding: 3px 0px 0px 20px;
}

#header-control{
	display:block;
	list-style: none;
	position:absolute;
	top:0px;
	right:16px;
	margin:0;
	line-height:42px;
}

#header-control>li:first-child{
	color:red;
}

#header-control > li{
	display:inline-block;
	list-style: none;
	padding: 0px 10px 0px 10px;
	border-left: 1px solid #323237;
	border-right: 1px solid #4E4E53;
	line-height: 42px;
}

#header-control > li:first-child{
	border-left: 1px solid #4E4E53;
}

#header-control > li > a{
	padding: 0px 10px 0px 10px;
}

/*------Sidebar------*/
#sidebar{
	display:block;
	float:left;
	position:absolute;
	left:0;
	width:200px;
	margin:40px 0px 0px 20px;
}

#sidebar > ul{
	list-style: none;
	margin:0;
}

#sidebar > ul > li{
	background: #444444;
	display:block;
	list-style: none;
	line-height:32px;
	color: #AAA;
	padding-left: 10px;
	border-top: 1px solid #393939;
	border-left: 1px solid #4E4E4E;
	border-bottom: 1px solid #4E4E4E;
	opacity: .8;
}

#sidebar > ul > li:first-child{
	border-top: 1px solid #4E4E4E;
	border-radius: 4px 0px 0px 0px;
}

#sidebar > ul > li:last-child{
	border-radius: 0px 0px 0px 4px;
}

#sidebar > ul > li:hover{
	background: #444;
	opacity: 1;
}

#sidebar > ul > li > a{
	min-width:200px;
}


#sidebar > ul > li > a > i{
	margin-right:10px;
	color:white;
	font-size:16px;
}

#sidebar > ul > li.active{
	background: #cc5500 url('../img/selected.png') no-repeat center right;
	opacity: .8;
}

#sidebar > ul > li.active > a{
	color: whiteSmoke;
}

/*------Content------*/
#content{
	background: #ededed;
	display:block;
	width:auto;
	min-height:840px;
	margin: 20px 20px 20px 220px;

	border-radius: 4px;
	opacity:.9;
}

#content img{
	max-width:100%;
	display:block;
}

button a{
	color: white;
}

.slider-wrapper { 
	width: 960px; 
	margin: 10px auto;
	margin-bottom:-10px;
}

#content > .container-fluid{
	padding-top: 20px;
	margin:0;
}

/* Widgets & Stats */
.widget{
	background-color: #DDD;
	color: #555;
	padding-top:6px;
	margin-bottom:20px;
	border-radius: 4px;
}

.widget #bar-label{
	padding-top:4px;
	padding-left: 30px;	
	text-align: left;
	color: #666;
	font-size:12px;
}

.widget #bar-value{
	text-align: left;
	color: #333;
	font-weight: 600;
}


.widget #bar-progress{
	margin-top:10px;
	display: block;
	width: 100%;
	height: 8px;
	overflow: hidden;
}

.stats {
	text-align: center; 
}

.stats .stat {
	background-color: #EEE;
	color: #555555;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 20px;
	text-align: center; 
}

.stat > h2{
	font-weight: 700;
}

.stat > h6{
	font-weight: 300;
	padding-top:10px;
}

.stats .warning {
	background-color: #ffa93c;
	color: #FFF; 
}

.stats .success {
	background-color: #4cb158;
	color: #FFF; 
}

.stats .danger {
	background-color: #ea494a;
	color: #FFF; 
}

.stats .info {
	background-color: #14b8d4;
	color: #FFF; 
}

.stats .primary {
	background-color: #007ccd;
	color: #FFF; 
}

.stats .purple {
	background-color: #7932ea;
	color: #FFF; 
}

.stats .inverse {
	background-color: #333;
	color: #FFF; 
}

label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/*------Footer------*/
#footer{
	height:22px;
	width:100%;
	background: #333;
	color: whiteSmoke;
	opacity:.8;
	position:absolute;
	bottom: 0;
	margin:0px;
	padding-bottom:2px;
}

#footer > span{
	display:block;
	margin:0px;
	padding:0px;
	text-align: center;
}