/* "aesthetic" fonts */
body, a, p, h1, h2, h3, h4, h5, h6, span, div { font-family: 'Open Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: lighter; color:#333333; }
/* gotta have that burnt orange */
a, a:hover, .icon { color: #bf5700; }
/* footer links shouldn't be distracting */
.footer, .footer:hover { color: #000000; }
/* darker background for element emphasis */
.darker { background-color: #f2f2f2; }
/* fancy hover */
.card-hover:hover { background-color: #000000; opacity: 0.1; }
/* those lines were too thin */
hr { border-top: 1px solid #cccccc; }
/* no bullets */
ul { list-style-type: none; }
